<div class="w-full">
  <!-- Informacion sobre Radio UTPL -->
  <radio-section-about-us></radio-section-about-us>

  <!-- Seccion nuestra historia -->
  <article class="bg-blue-utpl grid grid-cols-2  px-[3%] py-3 text-white items-center bg-[url('/radio_media/background_aboutUS.svg')] bg-cover">
    <div class="col-span-1 text-content-2 flex-col text-center">
      <h2 class="text-2xl">
        <p><strong>NUESTRA HISTORIA</strong></p>
        <!-- <P>HISTORIA</P> -->
      </h2>

      <p class="text-center my-5">Historia de Radio UTPL: Un espacio de innovación y compromiso educativo</p>
      <p class="text-justify my-5">La Universidad Técnica Particular de Loja (UTPL) ha destacado por su innovación y compromiso con la educación y la comunicación. Radio UTPL, creada como un laboratorio para estudiantes de Comunicación, ha evolucionado en un canal de comunicación universitario que genera contenidos informativos, pedagógicos y experimentales. Este espacio fomenta la creatividad y el aprendizaje práctico, permitiendo que estudiantes, docentes y administrativos propongan y exploren diversas formas de comunicación gracias a tecnologías avanzadas.</p>
      <p class="text-justify my-5">Actualmente, Radio UTPL es un medio consolidado que no solo enriquece el entorno universitario, sino que también beneficia a la comunidad local mediante la difusión de contenidos relevantes y de alta calidad. Su impacto perdurable refleja el compromiso de la UTPL con la innovación, contribuyendo significativamente al desarrollo cultural y educativo.</p>
    </div>

    <div class="col-span-1 select-none">
      <img
        class="w-[80%] lg:w-[60%] mx-auto rounded-3xl shadow-md"
        src="https://firebasestorage.googleapis.com/v0/b/radioutpl.appspot.com/o/carousel_home%2FDSC_3738.jpg?alt=media&token=9c148491-09e2-4c16-8371-eaa403e0796a"
        alt="Image Radio"
      >
    </div>

  </article>

  <!-- Seccion Equipo -->
  <div class="w-full px-[5%] bg-white flex-col ">

    <div class="relative h-[130px] sm:h-[180px] my-3 md:my-14">
      <div class="w-full h-[75px] sm:h-[100px] rounded-full bg-blue-100 bg-[center] bg-[url('https://firebasestorage.googleapis.com/v0/b/radioutpl.appspot.com/o/carousel_home%2FDSC_3728.jpg?alt=media&token=20f13d60-5880-4008-91f0-63ffa17e736d')]">
        <div class="w-full h-full rounded-full flex justify-center items-center bg-blue-utpl bg-opacity-50">
          <h2 class="text-title-1 font-bold text-white">EQUIPO</h2>
        </div>
      </div>

      <div class="absolute w-full flex justify-center bottom-0">
        <svg  class="w-[75px] h-[75px] sm:w-[100px] sm:h-[100px]" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" r="50" fill="#FCBD31" fill-opacity="0.28"/>
          <circle cx="50" cy="50" r="35" fill="#FCBD31"/>
          <path d="M37.5 45L50 57.5L62.5 45" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>

    <div class="grid grid-cols-4">
      <div *ngFor="let member of mediaTeamMediaLab; let i = index"
      [ngClass]="{'col-span-2': i<=2, 'col-span-4': i>2}">

        <div class="w-[50%] lg:w-[45%] mx-auto h-full flex flex-col justify-between text-center border-2 sm:border-4 md:border-8"
        [ngClass]="{'borderGradientTop':(i % 2) != 0, 'borderGradientBotoom':(i % 2) == 0, }">
          <div class="text-content-2 my-3">
            <p><strong>{{member.title}}</strong></p>
            <p>{{member.description}}</p>
          </div>

          <div class="w-full select-none">
            <img
              class="w-full"
              src="{{member.imgSrc}}" alt=""
            >
          </div>
        </div>


        <!-- Div padre para dar ancho y altura [ngClass]="{'mt-10': (i % 2) != 0}"" -->


      </div>
    </div>

  </div>
</div>



