<!-- Tarjeta de presentación del proyecto -->
<div class="w-full h-full rounded-xl p-4 boxShadow text-wrap animate-fadeIn flex flex-col justify-between" [ngStyle]="{display: hasLoaded? '' : 'none'}">

  <div class="mt-auto flex-col">
    <!-- Título del proyecto -->
    <div class="text-title-2 text-center text-blue-utpl min-h-[55px] md:min-h-[65px] text-sm md:text-base z-10 relative bg-white">
      <p><strong>{{this.project.title | truncate:85}}</strong></p>
    </div>

    <!-- Imagen de portada -->
    <div class="w-full">
      <img class="w-full h-[200px] md:h-[300px] object-cover rounded-md" (load)="onLoad()" [src]="this.project.photo_url" alt="">
    </div>
  </div>

  <!-- Contenido -->
  <div class="flex-grow">
    <p class="font-semibold text-yellow-utpl mb-3">{{this.date}}</p>
    <p class="text-blue-utpl overflow-hidden">{{this.project.summary | truncate:115}}</p>
  </div>

  <!-- Enlace para redireccionar -->
  <div class="mt-auto flex">
    <a
      [routerLink]="['./contenido/',project.id]"
      class="w-[40%] px-5 py-2 text-center text-content-2 font-semibold rounded-3xl border-2 border-blue-utpl hover:bg-blue-utpl hover:text-white shadow-lg">
      Leer más..
    </a>
  </div>
</div>

<!-- Spinner empleado para la carga del elemento -->
<div class="w-full h-[200px] flex items-center justify-center" *ngIf="!hasLoaded">
  <img src="radio_media/loader.svg" alt="">
</div>
